@import "variables";
@import "utils";

.about {
    display: none;
}

.background-modal-desktop {
    display: none;
}

.about.active {
    display: block;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
    .about-content {
        padding: 0 $Q-Md-24;
        max-width: 612px;
        margin: 0 auto;
    }
   
    .logo-mrv-modal {
        width: $Q-Md-112;
        margin: $Q-Md-24;
    }

    h1 {
        @include text($Q-Md-16, 27px, bold, $Q-Cr-Bla);
    }

    p {
        @include text(14px, 21px, normal, $Q-Cr-Cnz_1);
     }

     .footer-modal-wrapper {
        text-align: -webkit-right;
     }

    .footer-about {
        display: block;
        width: 100%;
        margin: auto;
    }


.close-modal-btn {
    background-color: $Q-Cr-Vrd_Prc_1;
    width: $Q-Md-48;
    height: $Q-Md-48;
    margin: 30px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    text-align: center;
    align-self: end;
    display: flex;
    
    img {
             width: auto;
             margin: auto;
    }
}



// Telas maiores 450px
@media (min-width: 450px) {
    .footer-about {
        display: none;
    }

    .background-modal-desktop {
        display: block;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 10%;
    }

    .logo-mrv-modal {
        width: $Q-Md-112;
        margin: $Q-Md-24;
        margin-top: -50%;
    }
}
