@import "variables";
@import "utils";

header {
    .headerWorkWith {
        @extend .flex;
        @include gradient();
        padding: $Q-Md-24;
        height: $Q-Md-96;
        margin-left: $Q-Md-24;
        border-radius: 16px 0px 0px 16px;

        h1 {
            @include text(18px, 22px, bold, $Q-Cr-Brc);
        }

    }

    nav {
        padding: $Q-Md-24;
        padding-bottom: 0;

        @media (min-width: 1365px) {
            padding: $Q-Md-32 $Q-Md-56 $Q-Md-48 $Q-Md-56;
        }

        ul {
            display: flex;
        }

        li {
            @extend .flex;
            list-style: none;
        }

        ul li a {
            @extend .flex;
            @include text(14px, 22px, bold, $Q-Cr-Vrd_Prc_1);
            margin-right: $Q-Md-8;
        }

        span {
            cursor: pointer;
            text-decoration: none;
            margin-right: $Q-Md-8;
            @include text(14px, 22px, bold, $Q-Cr-Cnz_1);
        }
    }
}

.header.active {
    display: none;
 }
