@import "variables";
@import "utils";
@import "accordion";
@import "aboutBrand";

main {
   padding: $Q-Md-24;
   margin: auto;

   section {
      margin-bottom: $Q-Md-40;
   }

   h1 {
      @include text(18px, 27px, bold, $Q-Cr-Cnz_1);
      margin-bottom: $Q-Md-8;
   }

   p {
      @include text(14px, 21px, normal, $Q-Cr-Cnz_1);
      margin-bottom: $Q-Md-24;
   }
}

main .mainExplore {
   button {
      @include buttonPrimary($Q-Cr-Vrd_Prc_1);
   }

   img {
      display: block;
      margin: 0 auto;
      margin-bottom: $Q-Md-24;
   }

   .mainExploreLogoCtn {
      text-align: center;
      margin-bottom: $Q-Md-24;
      display: inline-block;

      img {
         margin: auto;
      }
      button {
         @include A-Btn-Fld_Brd();
      }
   }
}

main .mainOurValues {
   p {
      margin: 0;
   }
}

main .mainOurSpace {
   a {
      @include text(14px, 21px, bold, $Q-Cr-Cnz_1);
   }

   .carousel-wrapper {
      height: $Q-Md-176;
      position: relative;
      width: 100%;
      display: block;
      margin: 0 auto;
      overflow: hidden;
      max-width: 397px;
      margin-top: $Q-Md-24;
      border-radius: $Q-Md-16;
   }

   .carousel-item {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      transition: all 0.5s ease-in-out;
   }

   .arrow-prev {
      left: 0;
      right: 0;
      top: 40%;
      position: absolute;
      @extend .flex;
      justify-content: center;
      width: $Q-Md-48;
      height: $Q-Md-48;
      background-color: #006b3f;
      border-radius: 0 $Q-Md-8 $Q-Md-8 0;
   }

   .arrow-next {
      right: 0;
      top: 40%;
      position: absolute;
      @extend .flex;
      justify-content: center;
      width: $Q-Md-48;
      height: $Q-Md-48;
      background-color: #006b3f;
      border-radius: $Q-Md-8 0 0 $Q-Md-8;
   }

   [id^="item"] {
      display: none;
   }

   .item-1 {
      z-index: 2;
      opacity: 1;
      background: url("../assets/img-our-space.png");
      background-size: cover;
   }

   .item-2 {
      background: url("../assets/img-hero-mobile.png");
      background-size: cover;
   }

   .item-3 {
      background: url("../assets/img-our-space.png");
      background-size: cover;
   }

   *:target ~ .item-1 {
      opacity: 0;
   }

   #item-1:target ~ .item-1 {
      opacity: 1;
   }

   #item-2:target ~ .item-2,
   #item-3:target ~ .item-3 {
      z-index: 3;
      opacity: 1;
   }
}

main .mainAvailableVacancies {
   max-width: 400px;

   p {
      margin-bottom: 0;
   }

   .form-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-content: center;

      select,
      input {
         height: $Q-Md-40;
         width: 100%;
         margin-bottom: $Q-Md-4;
         border-radius: $Q-Md-8;
         @include Border($Q-Cr-Cnz_3);
         color: #5d615f;
      }

      label {
         @include text($Q-Md-16, $Q-Md-24, bold, $Q-Cr-Cnz_1);
         width: 100%;
         margin-top: $Q-Md-16;
      }

      button {
         width: $Q-Md-144;
         margin-top: $Q-Md-24;
         @include buttonPrimary($Q-Cr-Vrd_Prc_4);
      }

      .required {
         color: $Q-Cr-Or;
         margin-bottom: 0;
      }
   }

   .success {
      @include text(18px, 27px, bold, $Q-Cr-Vrd_Prc_4);
      margin: 0 auto;
      text-align: center;
      margin-top: $Q-Md-24;
   }
}

.main.active {
   display: none;
}

//Telas maiores 1366px

@media (min-width: 1365px) {
   main {
      padding: 0;
      section {
         margin-bottom: $Q-Md-96;
      }

      h1 {
         @include text($Q-Md-40, 60px, bold, $Q-Cr-Cnz_1);
         margin-bottom: 0;
      }

      .mainExplore {
         display: grid;
         grid-template-columns: 1fr 1fr;
         align-items: center;
         padding: 0 $Q-Md-56;

         section {
            margin-bottom: $Q-Md-96;
         }

         h1 {
            @include text($Q-Md-40, 60px, bold, $Q-Cr-Cnz_1);
            margin-bottom: 0;
         }

         div {
            max-width: 543px;
         }
         .main-explore-logo-wrapper {
            text-align: center;
         }

         #aboutBrand {
            margin-right: 32px;
         }
      }

      .mainOurValues {
         display: grid;
         grid-template-columns: 1fr auto;
         padding-left: 56px;
         
         .our-values-wrapper {
            max-width: 824px;
         }
         .accordion-wrapper {
            max-width: 824px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: $Q-Md-40;
         }
      }
   }
}
