$Q-Cr-Vrd_Prc_1: #006B3F;
$Q-Cr-Vrd_Prc_2: #079D56;
$Q-Cr-Vrd_Prc_3: #00D38D;
$Q-Cr-Vrd_Prc_4: #219653;
$Q-Cr-Cnz_1: #242625;
$Q-Cr-Cnz_2: #434645;
$Q-Cr-Cnz_3: #5D615F;
$Q-Cr-Cnz_4: #999E9C;
$Q-Cr-Cnz_5: #D9DDDB; 
$Q-Cr-Brc: #FFFFFF;


$Q-Md-2: 2px;
$Q-Md-4: 4px;
$Q-Md-8: 8px;
$Q-Md-16: 16px;
$Q-Md-24: 24px;
$Q-Md-32: 32px;
$Q-Md-40: 40px;
$Q-Md-48: 48px;
$Q-Md-56: 56px;
$Q-Md-64: 64px;
$Q-Md-72: 72px;
$Q-Md-80: 80px;
$Q-Md-88: 88px;
$Q-Md-96: 96px;
$Q-Md-104: 104px;
$Q-Md-112: 112px;
$Q-Md-120: 120px;
$Q-Md-128: 128px;
$Q-Md-136: 136px;
$Q-Md-144: 144px;
$Q-Md-152: 152px;
$Q-Md-160: 160px;
$Q-Md-168: 168px;
$Q-Md-176: 176px;
$Q-Md-184: 184px;
$Q-Md-192: 192px;
$Q-Md-200: 200px;
$Q-Md-200: 208px;

