$Q-Cr-Vrd_Prc_1: #006B3F;
$Q-Cr-Vrd_Prc_2: #079D56;
$Q-Cr-Vrd_Prc_3: #00D38D;
$Q-Cr-Cnz_1: #242625;
$Q-Cr-Cnz_2: #434645;
$Q-Cr-Cnz_3: #5D615F;
$Q-Cr-Cnz_4: #999E9C;
$Q-Cr-Cnz_5: #D9DDDB; 
$Q-Cr-Brc: #FFFFFF;

$Q-Md-2: 2px;
$Q-Md-4: 4px;
$Q-Md-8: 8px;
$Q-Md-16: 16px;
$Q-Md-24: 24px;
$Q-Md-32: 32px;
$Q-Md-40: 40px;
$Q-Md-48: 48px;
$Q-Md-56: 56px;
$Q-Md-64: 64px;
$Q-Md-72: 72px;
$Q-Md-80: 80px;
$Q-Md-88: 88px;
$Q-Md-96: 96px;

