.flex, header .headerWorkWith, header nav li, header nav ul li a, .accordion-header, main .mainOurSpace .arrow-prev, main .mainOurSpace .arrow-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@font-face {
  font-family: 'AvertaStd';
  src: url("../fonts/AvertaStd-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvertaStd';
  src: url("../fonts/AvertaStd-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: bold;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: 'AvertaStd';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100vh;
  font-family: "Source Sans Pro";
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

.flex, header .headerWorkWith, header nav li, header nav ul li a, .accordion-header, main .mainOurSpace .arrow-prev, main .mainOurSpace .arrow-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .headerWorkWith {
  background-image: -webkit-gradient(linear, left top, right top, from(#006B3F), to(#079D56));
  background-image: linear-gradient(to right, #006B3F, #079D56);
  padding: 24px;
  height: 96px;
  margin-left: 24px;
  border-radius: 16px 0px 0px 16px;
}

header .headerWorkWith h1 {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  color: #FFFFFF;
}

header nav {
  padding: 24px;
  padding-bottom: 0;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav li {
  list-style: none;
}

header nav ul li a {
  font-size: 14px;
  line-height: 22px;
  font-weight: bold;
  color: #006B3F;
  margin-right: 8px;
}

header nav span {
  cursor: pointer;
  text-decoration: none;
  margin-right: 8px;
  font-size: 14px;
  line-height: 22px;
  font-weight: bold;
  color: #242625;
}

.flex, header .headerWorkWith, header nav li, header nav ul li a, .accordion-header, main .mainOurSpace .arrow-prev, main .mainOurSpace .arrow-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.accordion .accordion-item {
  margin: 0 auto;
  overflow: hidden;
  max-width: 400px;
  padding-bottom: 24px;
  margin-top: 24px;
  cursor: pointer;
  border-bottom: 2px solid #219653;
}

.accordion-header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.accordion-header h2 {
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  color: #219653;
}

.accordion-body {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.5s ease;
  transition: max-height 0.5s ease;
}

.accordion-body p {
  margin: 0;
  padding-top: 1rem;
}

.accordion-item.active .accordion-body {
  max-height: 10rem;
}

.accordion-item.active img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

img {
  -webkit-transition: -webkit-transform 0.2 ease;
  transition: -webkit-transform 0.2 ease;
  transition: transform 0.2 ease;
  transition: transform 0.2 ease, -webkit-transform 0.2 ease;
}

main {
  padding: 24px;
  margin: auto;
}

main section {
  margin-bottom: 40px;
}

main h1 {
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  color: #242625;
  margin-bottom: 8px;
}

main p {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #242625;
  margin-bottom: 24px;
}

main .mainExplore button {
  height: 48px;
  width: 144px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #006B3F;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: ease;
  transition: ease;
}

main .mainExplore button:hover {
  width: 152px;
}

main .mainExplore img {
  display: block;
  margin: 0 auto;
  margin-bottom: 24px;
}

main .mainExplore .mainExploreLogoCtn {
  text-align: center;
  margin-bottom: 24px;
  display: inline-block;
}

main .mainExplore .mainExploreLogoCtn img {
  margin: auto;
}

main .mainExplore .mainExploreLogoCtn button {
  height: 48px;
  width: 152px;
  cursor: pointer;
  border: none;
  border: 2px solid #006B3F;
  border-radius: 8px;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  color: #006B3F;
  background-color: #FFFFFF;
  -webkit-box-shadow: none;
          box-shadow: none;
}

main .mainOurValues p {
  margin: 0;
}

main .mainOurSpace a {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: #242625;
}

main .mainOurSpace .carousel-wrapper {
  height: 176px;
  position: relative;
  width: 100%;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  max-width: 397px;
  margin-top: 24px;
  border-radius: 16px;
}

main .mainOurSpace .carousel-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

main .mainOurSpace .arrow-prev {
  left: 0;
  right: 0;
  top: 40%;
  position: absolute;
  width: 48px;
  height: 48px;
  background-color: #006b3f;
  border-radius: 0 8px 8px 0;
}

main .mainOurSpace .arrow-next {
  right: 0;
  top: 40%;
  position: absolute;
  width: 48px;
  height: 48px;
  background-color: #006b3f;
  border-radius: 8px 0 0 8px;
}

main .mainOurSpace [id^="item"] {
  display: none;
}

main .mainOurSpace .item-1 {
  z-index: 2;
  opacity: 1;
  background: url("../assets/img-our-space.png");
  background-size: cover;
}

main .mainOurSpace .item-2 {
  background: url("../assets/img-hero-mobile.png");
  background-size: cover;
}

main .mainOurSpace .item-3 {
  background: url("../assets/img-our-space.png");
  background-size: cover;
}

main .mainOurSpace *:target ~ .item-1 {
  opacity: 0;
}

main .mainOurSpace #item-1:target ~ .item-1 {
  opacity: 1;
}

main .mainOurSpace #item-2:target ~ .item-2,
main .mainOurSpace #item-3:target ~ .item-3 {
  z-index: 3;
  opacity: 1;
}

main .mainAvailableVacancies form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

main .mainAvailableVacancies form select,
main .mainAvailableVacancies form input {
  width: 100%;
  margin-bottom: 24px;
}

main .mainAvailableVacancies form label {
  width: 100%;
}

main .mainAvailableVacancies form button {
  width: 144px;
}
/*# sourceMappingURL=app.css.map */