.flex, header .headerWorkWith, header nav li, header nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

html,
body {
  height: 100vh;
  font-family: "Source Sans Pro";
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

.flex, header .headerWorkWith, header nav li, header nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .headerWorkWith {
  background-image: -webkit-gradient(linear, left top, right top, from(#006B3F), to(#079D56));
  background-image: linear-gradient(to right, #006B3F, #079D56);
  padding: 24px;
  height: 96px;
  margin-left: 24px;
  border-radius: 16px 0px 0px 16px;
}

header .headerWorkWith h1 {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  color: #FFFFFF;
}

header nav {
  padding: 24px;
  padding-bottom: 0;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav li {
  list-style: none;
}

header nav ul li a {
  font-size: 14px;
  line-height: 22px;
  font-weight: bold;
  color: #006B3F;
  margin-right: 8px;
}

header nav span {
  cursor: pointer;
  text-decoration: none;
  margin-right: 8px;
  font-size: 14px;
  line-height: 22px;
  font-weight: bold;
  color: #242625;
}

.flex, header .headerWorkWith, header nav li, header nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  padding: 24px;
  margin: auto;
}

main section {
  margin-bottom: 40px;
}

main h1 {
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  color: #242625;
  margin-bottom: 8px;
}

main button {
  height: 48px;
  width: 144px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #006B3F;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: ease;
  transition: ease;
}

main button:hover {
  width: 152px;
}

main .mainExplore p {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #242625;
  margin-bottom: 24px;
}

main .mainExplore img {
  display: block;
  margin: 0 auto;
  margin-bottom: 24px;
}

main .mainExplore .mainExploreLogoCtn {
  text-align: center;
  margin-bottom: 24px;
}

main .mainExplore .mainExploreLogoCtn img {
  margin: auto;
}

main .mainExplore .mainExploreLogoCtn button {
  height: 48px;
  width: 152px;
  cursor: pointer;
  border: none;
  border: 2px solid #006B3F;
  border-radius: 8px;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  color: #006B3F;
  background-color: #FFFFFF;
}
/*# sourceMappingURL=app.css.map */