.flex, header .headerWorkWith, header nav li, header nav ul li a, .accordion-header, main .mainOurSpace .arrow-prev, main .mainOurSpace .arrow-next, main .mainAvailableVacancies, main .mainAvailableVacancies .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

@font-face {
  font-family: 'AvertaStd';
  src: url("../fonts/AvertaStd-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvertaStd';
  src: url("../fonts/AvertaStd-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: bold;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: 'AvertaStd';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100vh;
  font-family: "Source Sans Pro";
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

.flex, header .headerWorkWith, header nav li, header nav ul li a, .accordion-header, main .mainOurSpace .arrow-prev, main .mainOurSpace .arrow-next, main .mainAvailableVacancies, main .mainAvailableVacancies .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

header .headerWorkWith {
  background-image: -webkit-gradient(linear, left top, right top, from(#006B3F), to(#079D56));
  background-image: linear-gradient(to right, #006B3F, #079D56);
  padding: 24px;
  height: 96px;
  margin-left: 24px;
  border-radius: 16px 0px 0px 16px;
}

header .headerWorkWith h1 {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  color: #FFFFFF;
}

header nav {
  padding: 24px;
  padding-bottom: 0;
}

@media (min-width: 1365px) {
  header nav {
    padding: 32px 56px 48px 56px;
  }
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav li {
  list-style: none;
}

header nav ul li a {
  font-size: 14px;
  line-height: 22px;
  font-weight: bold;
  color: #006B3F;
  margin-right: 8px;
}

header nav span {
  cursor: pointer;
  text-decoration: none;
  margin-right: 8px;
  font-size: 14px;
  line-height: 22px;
  font-weight: bold;
  color: #242625;
}

.header.active {
  display: none;
}

.flex, header .headerWorkWith, header nav li, header nav ul li a, .accordion-header, main .mainOurSpace .arrow-prev, main .mainOurSpace .arrow-next, main .mainAvailableVacancies, main .mainAvailableVacancies .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.accordion .accordion-item {
  margin: 0 auto;
  overflow: hidden;
  max-width: 400px;
  padding-bottom: 24px;
  margin-top: 24px;
  cursor: pointer;
  border-bottom: 2px solid #219653;
}

.accordion-header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.accordion-header h2 {
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  color: #219653;
}

.accordion-body {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.5s ease;
  transition: max-height 0.5s ease;
}

.accordion-body p {
  margin: 0;
  padding-top: 1rem;
}

.accordion-item.active .accordion-body {
  max-height: 10rem;
}

.accordion-item.active img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

img {
  -webkit-transition: -webkit-transform 0.2 ease;
  transition: -webkit-transform 0.2 ease;
  transition: transform 0.2 ease;
  transition: transform 0.2 ease, -webkit-transform 0.2 ease;
}

.flex, header .headerWorkWith, header nav li, header nav ul li a, .accordion-header, main .mainOurSpace .arrow-prev, main .mainOurSpace .arrow-next, main .mainAvailableVacancies, main .mainAvailableVacancies .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.about {
  display: none;
}

.about.active {
  display: block;
  margin: auto;
}

.about.active .about-content {
  padding: 0 24px;
  height: calc(100vh - 150px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about.active img {
  width: 112px;
  margin: 24px;
}

.about.active h1 {
  font-size: 16px;
  line-height: 27px;
  font-weight: bold;
  color: #000000;
}

.about.active p {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #242625;
}

.about.active button {
  background-color: #006B3F;
  width: 48px;
  height: 48px;
  position: absolute;
  right: 20px;
  bottom: 70px;
  border-radius: 50%;
  border: none;
}

.about.active button img {
  width: auto;
  margin: auto;
}

.about.active .footer-about {
  position: absolute;
  bottom: 0;
  width: 100%;
  right: 0;
  margin: auto;
}

main {
  padding: 24px;
  margin: auto;
}

main section {
  margin-bottom: 40px;
}

main h1 {
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  color: #242625;
  margin-bottom: 8px;
}

main p {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #242625;
  margin-bottom: 24px;
}

main .mainExplore button {
  height: 48px;
  width: 144px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #006B3F;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: ease;
  transition: ease;
}

main .mainExplore button:hover {
  width: 152px;
}

main .mainExplore img {
  display: block;
  margin: 0 auto;
  margin-bottom: 24px;
}

main .mainExplore .mainExploreLogoCtn {
  text-align: center;
  margin-bottom: 24px;
  display: inline-block;
}

main .mainExplore .mainExploreLogoCtn img {
  margin: auto;
}

main .mainExplore .mainExploreLogoCtn button {
  height: 48px;
  width: 152px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  border: 2px solid #006B3F;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  color: #006B3F;
  background-color: #FFFFFF;
  -webkit-box-shadow: none;
          box-shadow: none;
}

main .mainOurValues p {
  margin: 0;
}

main .mainOurValues .grafismo {
  display: none;
}

main .mainOurSpace a {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: #242625;
}

main .mainOurSpace .carousel-wrapper {
  height: 176px;
  position: relative;
  width: 100%;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  max-width: 397px;
  margin-top: 24px;
  border-radius: 16px;
}

@media (min-width: 768px) {
  main .mainOurSpace .carousel-wrapper {
    height: 264px;
  }
}

main .mainOurSpace .carousel-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

main .mainOurSpace .arrow-prev {
  left: 0;
  right: 0;
  top: 40%;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 48px;
  height: 48px;
  background-color: #006b3f;
  border-radius: 0 8px 8px 0;
}

main .mainOurSpace .arrow-next {
  right: 0;
  top: 40%;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 48px;
  height: 48px;
  background-color: #006b3f;
  border-radius: 8px 0 0 8px;
}

main .mainOurSpace [id^="item"] {
  display: none;
}

main .mainOurSpace .item-1 {
  z-index: 2;
  opacity: 1;
  background: url("../assets/img-our-space.png");
  background-size: cover;
}

main .mainOurSpace .item-2 {
  background: url("../assets/img-hero-mobile.png");
  background-size: cover;
}

main .mainOurSpace .item-3 {
  background: url("../assets/img-our-space.png");
  background-size: cover;
}

main .mainOurSpace *:target ~ .item-1 {
  opacity: 0;
}

main .mainOurSpace #item-1:target ~ .item-1 {
  opacity: 1;
}

main .mainOurSpace #item-2:target ~ .item-2,
main .mainOurSpace #item-3:target ~ .item-3 {
  z-index: 3;
  opacity: 1;
}

main .mainAvailableVacancies {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .mainAvailableVacancies p {
  margin-bottom: 0;
}

main .mainAvailableVacancies .form-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  max-width: 400px;
}

main .mainAvailableVacancies .form-container select,
main .mainAvailableVacancies .form-container input {
  height: 40px;
  width: 100%;
  margin-bottom: 4px;
  border-radius: 8px;
  border: 2px solid #5D615F;
  color: #5d615f;
}

main .mainAvailableVacancies .form-container label {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: #242625;
  width: 100%;
  margin-top: 16px;
}

main .mainAvailableVacancies .form-container button {
  width: 144px;
  margin-top: 24px;
  height: 48px;
  width: 144px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #219653;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: ease;
  transition: ease;
}

main .mainAvailableVacancies .form-container button:hover {
  width: 152px;
}

main .mainAvailableVacancies .form-container .required {
  color: #F68B28;
  margin-bottom: 0;
}

main .mainAvailableVacancies .success {
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  color: #219653;
  margin: 0 auto;
  text-align: center;
  margin-top: 24px;
}

main .mainAvailableVacancies img {
  display: none;
}

.main.active {
  display: none;
}

@media (min-width: 600px) {
  main .mainAvailableVacancies {
    max-width: auto;
  }
  main .mainAvailableVacancies .grafismo-form {
    display: block;
  }
  main .mainAvailableVacancies .form-container {
    margin-right: 30px;
  }
}

@media (min-width: 768px) {
  main .mainAvailableVacancies {
    max-width: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 56px;
  }
  main .mainAvailableVacancies .main-available-vacancies-wrapper {
    width: 40%;
  }
  main .mainAvailableVacancies .main-available-vacancies-ctn {
    border-right: 1px solid #242625;
  }
  main .mainAvailableVacancies img {
    display: block;
  }
  main .mainAvailableVacancies .grafismo-form {
    height: 242px;
  }
  main .mainOurSpace .carousel-wrapper {
    height: 264px;
  }
}

@media (min-width: 768px) {
  main {
    padding: 0;
  }
  main section {
    margin-bottom: 40px;
  }
  main h1 {
    font-size: 32px;
    line-height: 40px;
    font-weight: bold;
    color: #242625;
    margin-bottom: 0;
  }
  main .mainExplore {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 56px;
  }
  main .mainExplore section {
    margin-bottom: 40px;
  }
  main .mainExplore h1 {
    font-size: 40px;
    line-height: 60px;
    font-weight: bold;
    color: #242625;
    margin-bottom: 0;
  }
  main .mainExplore div {
    max-width: 543px;
  }
  main .mainExplore .main-explore-logo-wrapper {
    text-align: center;
  }
  main .mainExplore #aboutBrand {
    margin-right: 32px;
  }
  main .mainOurValues {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr auto;
        grid-template-columns: 1fr auto;
    padding: 56px;
    padding-top: 0;
    margin-bottom: 0;
    margin-bottom: 40px;
  }
  main .mainOurValues .our-values-wrapper {
    max-width: 824px;
  }
  main .mainOurValues .accordion-wrapper {
    max-width: 824px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  main .mainOurSpace {
    padding: 0 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  main .mainOurSpace .main-our-space-info {
    width: 50%;
    margin-left: 24px;
  }
  main .mainAvailableVacancies {
    max-width: auto;
  }
  main .mainAvailableVacancies img {
    display: block;
  }
}

@media (min-width: 1144px) {
  main h1 {
    font-size: 40px;
    line-height: 60px;
    font-weight: bold;
    color: #242625;
    margin-bottom: 0;
  }
  main .mainOurValues {
    margin-bottom: 0;
    padding-left: 56px;
    padding-right: 0;
  }
  main .mainOurValues .grafismo {
    display: block;
  }
  section {
    margin-bottom: 96px;
  }
}

.flex, header .headerWorkWith, header nav li, header nav ul li a, .accordion-header, main .mainOurSpace .arrow-prev, main .mainOurSpace .arrow-next, main .mainAvailableVacancies, main .mainAvailableVacancies .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

footer {
  text-align: center;
}

footer .registration {
  height: 152px;
  padding: 24px;
  background-color: #006B3F;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .registration h1 {
  font-size: 24px;
  line-height: 16px;
  font-weight: bold;
  color: #FFFFFF;
}

footer .registration h2 {
  font-size: 12px;
  line-height: 24px;
  font-weight: normal;
  color: #FFFFFF;
}

footer .list-footer-container {
  padding: 40px;
  padding-left: 50px;
  padding-bottom: 16px;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  color: #5D615F;
}

footer .list-footer-container img {
  width: 130px;
}

footer .list-footer-container ul {
  list-style: square;
}

footer .list-footer-container ul p {
  height: 4px;
  width: 40px;
  background-color: #006B3F;
  margin: 8px 0 16px 0;
}

footer .list-footer-container ul h3 {
  font-size: 22px;
  line-height: 20px;
  font-weight: bold;
  color: #5D615F;
  margin-top: 24px;
  text-align: start;
}

footer .list-footer-container li {
  border-bottom: 1px solid #D9DDDB;
  text-align: left;
}

footer span {
  border-bottom: 2px solid #D9DDDB;
}

footer p {
  font-size: 10px;
  line-height: 20px;
  font-weight: normal;
  color: #5D615F;
  margin-bottom: 8px;
}

@media (min-width: 450px) {
  footer .registration {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .registration img {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  footer .registration h1 {
    font-size: 32px;
    line-height: 24px;
    font-weight: bold;
    color: #FFFFFF;
    min-width: 250px;
  }
  footer .registration h2 {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color: #FFFFFF;
    max-width: 300px;
  }
  footer .list-footer-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
}

@media (min-width: 900px) {
  footer .list-footer-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 40px;
  }
}
/*# sourceMappingURL=app.css.map */